/* Header */
.header {
  background-image: url("images/header_background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar {
  padding: 0;
  
  
  background-color: #283645;
}
.navbar-brand {
  background-image: url("images/logo.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 160px;
  height: 80px;
}
.navbar-nav {
  width: 100%;
  justify-content: flex-end;
}


.navbar-nav.menu .menu__item a {
  color: #fff;
  white-space: nowrap;
}

@media screen and (max-width: 991px) {
  .navbar-brand {
      background-image: url('images/logotype-tablet.svg');
      background-repeat: no-repeat;
      background-position: center;
      width: 160px;
      height: 80px;
  }
  .menu__item {
      border-top: 1px solid #000;
      text-align: center;
  }
  }
}
