/* Header */
.header {
  background-image: url("images/header_background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar {
  padding: 0;
  padding-top: 20px;
  padding-bottom: 35px;
  background: rgba(0, 0, 0, 0.3);
}
.navbar-brand {
  background-image: url("images/logo.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 160px;
  height: 80px;
}
.navbar-nav {
  width: 100%;
  justify-content: flex-end;
}

.navbar-collapse {
  transition: 0.3s linear;
}
.header__title {
  margin: 0 auto;
  width: 70%;
  padding: 80px 0 80px 0;
}

.header__title h1 {
  font-size: 50px;
  font-weight: 100;
  text-align: center;

  color: #fff;
}

.navbar-nav.menu .menu__item a {
  color: #fff;
  white-space: nowrap;
}

/* Forms */

.main-content-forms__user-form {
  padding-right: 70px;
}
.main-content-forms__user-form {
  margin-top: 80px;
}
.main-content-fieldset__apps-check {
  margin-top: 70px;
}
.main-content__title,
.main-content__title-block {
  width: 100%;
  margin: 0 auto;
  color: #616c77;
  text-align: center;
}
.main-content__title {
  margin-top: 100px;
}
.main-content-forms__custom-label,
.main-content-fieldset__title {
  font-size: 14px;
  color: #de6183;
  text-transform: uppercase;
}
.main-content-forms__custom-input {
  border: 2px solid #e5e5e5;
  border-radius: 0em;
  height: 60px;
}
.form-group:not(:last-child) {
  margin-bottom: 3.6em;
}
.form-check {
  width: 90%;
  margin: 35px auto;
}
.form-check-label {
  font-size: 18px;
}

input[placeholder]::-webkit-input-placeholder {
  color: #45515e;
}
.main-content-fieldset__apps-check {
  border: 2px solid #e5e5e5;
  max-height: 306px;
}

.main-content-fieldset__title {
  text-align: center;
  margin: 0;
  padding: 0 30px;
  width: auto;
}
/* Radio-inputs for apps */
.custom-radio {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.custom-radio + label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}
.custom-radio + label::before {
  content: "";
  display: inline-block;
  width: 2em;
  height: 2em;
  flex-shrink: 0;
  flex-grow: 0;
  border: 2px solid #e5e5e5;
  border-radius: 100%;
  margin-right: 1em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}
.custom-radio:not(:disabled):not(:checked) + label:hover::before {
  border-color: #000;
}
.custom-radio:not(:disabled) + label:active:before {
  border-color: #d22856;
}
.custom-radio:checked + label::after {
  content: "";
  background-color: #d22856;
  position: absolute;
  left: 29px;
  top: 9px;
  width: 1em;
  height: 1em;

  border-radius: 100%;
}
.main-content-fieldset__contact-information {
  border: 2px solid #e5e5e5;
  margin-top: 60px;
  width: 100%;
}
.fieldset-row {
  justify-content: space-around;
  margin: 0 auto;
}

.main-content-fieldset__item {
  margin-top: 45px;

  width: 35%;
}
.main-content-fieldset__custom-label {
  width: 100%;
  margin: 15px;
}
.main-content-fieldset__span {
  background-color: #e5e5e5;
  padding: 0 20px;
}
/* Fieldset progress */
.main-content-fieldset__progress {
  border: 2px solid #e5e5e5;
  margin-top: 60px;
  width: 100%;
}
.main-content-fieldset__progress-label {
  font-family: "Open Sans", sans-serif;
  display: flex;
  align-items: center;
  margin-bottom: 0;
  font-weight: 400;
  font-size: 14px;
}
.fieldset-progress__first-row,
.fieldset-progress__second-row {
  justify-content: space-around;
  margin: 55px;
  margin-left: 100px;
  width: calc(100% - 100px);
}

/* Custom checkbox */
.main-content-fieldset__progress-input {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.progress-label__check-box {
  position: absolute;
  width: 30px;
  height: 30px;
  margin-left: -3em;
  box-shadow: 0 0 0 2px #e5e5e5;
}
/* Checked */
.main-content-fieldset__progress-input:checked + .progress-label__check-box {
  background: url("images/done_fieldset-progress.svg") center center no-repeat;
}
.main-content-fieldset__progress-input:hover + .progress-label__check-box {
  box-shadow: 0 0 0 2px #000;
}
.main-content-fieldset__progress-input:active + .progress-label__check-box {
  box-shadow: 0 0 0 2px #d22856;
}

/* Fieldset textarea */
.main-content-fieldset__comment {
  border: 2px solid #e5e5e5;
  font-family: "Open Sans", sans-serif;

  font-weight: 400;
  font-size: 14px;
  margin-top: 60px;
  width: 100%;
}
.fieldset__textarea {
  border: 2px solid #e5e5e5;
  margin: 30px 60px;
  padding: 20px;
  resize: none;
  width: calc(100% - 120px);
}
/* Main-content button */
.main-content-button {
  margin-top: 60px;
  justify-content: space-between;
}
.custom-button {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: #fff;

  border-color: #2aab6d;
  text-transform: uppercase;
  background-color: #2aab6d;
}
.main-content-button__description-star {
  color: #de6183;
}
.main-content-button__description__p {
  margin-bottom: 0;
}

/* Footer */
.footer__title {
  width: 50%;
}

.footer__contacts {
  display: flex;
  justify-content: space-between;
}
.footer__contact-title,
.footer__footer-phone {
  text-align: center;
  font-size: 15px;
  font-weight: bold;
}

.footer__phone {
  color: #e77694;
  font-size: 20px;
}
.footer__map {
  clip-path: polygon(50% 40%, 100% 0, 100% 100%, 0 100%, 0 0);
  padding-left: 0;
  padding-right: 0;
}

.footer__feedback {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 200px;
}

.footer__copyright-text {
  float: left;
  margin: auto 15px auto 0;
}
.footer__copyright-logo {
  float: right;
}
@media screen and (max-width: 991px) {


@media screen and (max-width: 768px) {
  /*Navbar*/

  .nav-link {
    padding: 1.4rem 1rem;
  }
  /*Header*/
  .header__title {
    padding: 35px 0 50px 0;
    margin: 0 auto;
    width: 70%;
  }
  .header__title h1 {
    font-size: 50px;
  }
  /* Main-content Forms */
  .main-content-forms__user-form {
    margin-top: 0;
    padding-right: 0px;
  }
  .main-content-fieldset__apps-check {
    margin-top: 50px;
  }
  .main-content-fieldset__item {
    width: 100%;
    margin-top: 50px;
  }
  .main-content-fieldset__item:nth-child(2) {
    margin-top: 30px;
  }
  .main-content__title,
  .main-content__title-block {
    font-size: 18px;
    line-height: 1.5;
    margin-top: 100px;
    width: 70%;
  }
  .main-content__title-block {
    margin: 0 auto;
    text-align: center;
  }
  .form-group {
    margin-top: 50px;
  }
  .form-check {
    margin-left: 60px;
    width: calc(100% - 60px);
  }
  .fieldset-progress__first-row,
  .fieldset-progress__second-row {
    width: 100%;
    margin: 0 auto;
  }
  .fieldset-progress__first-row {
    margin-top: 15px;
  }
  .fieldset-progress__second-row {
    margin-bottom: 15px;
  }
  .main-content-fieldset__progress-label {
    margin: 15px auto;
    font-size: 16px;
  }
  /* Form button */

  .custom-button {
    height: 65px;
    font-size: 16px;
  }
}

@media screen and (max-width: 576px) {
  .header__title h1 {
    font-size: 24px;
  }
  /*Nav bar*/
  .nav-link {
    padding: 0.6rem 1rem;
  }
  /* Main-content Forms */
  .main-content__title {
    font-size: 14px;
    line-height: 1.5;
    margin: 55px auto;
    width: 100%;
  }
  .main-content-forms__user-form,
  .main-content-fieldset__apps-check {
    margin-top: 0;
    padding-right: 15px;
  }
  .form-group {
    margin-top: 0;
  }
  .form-group:not(:last-child) {
    margin-bottom: 20px;
  }

  .main-content-forms__custom-label {
    font-size: 14px;
    font-weight: 500;
    margin-left: 25px;

    width: calc(100% - 25px);
  }
  .main-content-forms__custom-input {
    width: 100%;
  }
  .main-content-fieldset__apps-check {
    border: none;
    background-color: #f2f2f2;
    margin-top: 45px;
  }
  .main-content-fieldset__item:not(:last-child) {
    margin-top: 30px;
  }
  .fieldset__custom-title {
    padding-top: 40px;
    width: 100%;
  }
  .form-check {
    width: 100%;
    margin: 25px auto;
  }
  .custom-radio + label::before {
    background-color: #fff;
  }
  .main-content-fieldset__contact-information {
    border: none;
    margin-top: 0;
  }
  /* Progress block */
  .main-content-fieldset__progress {
    border: none;
    background-color: #f2f2f2;
    margin-top: 45px;
  }
  .main-content-fieldset__progress-title {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #de6183;
    text-transform: uppercase;
    text-align: center;
    margin: 30px auto 0 auto;
    max-width: w 70%;
  }

  .progress-label__check-box {
    background-color: #fff;
    box-shadow: 0 0 0 2px #e5e5e5;
    margin-left: -3em;
  }
  .main-content-fieldset__progress-input:checked + .progress-label__check-box {
    background-color: #fff;
  }

  /* Contacts form */
  .main-content-fieldset__item:nth-child(2) {
    margin-top: 0;
  }
  /* Check form */
  .form-check {
    padding-left: 0;
  }
  .custom-radio:checked + label::after {
    left: 9px;
  }

  /* Comments form */
  .main-content-fieldset__comment {
    border: none;
    margin-top: 30px;
  }
  .fieldset__textarea {
    margin: 15px;
    width: calc(100% - 30px);
  }

  /* Form button */
  .main-content-button {
    margin-top: 0;
  }
  .custom-button {
    margin: 30px 15px 0 15px;
  }
  .main-content-button__description {
    justify-content: center;
    margin-top: 30px;
  }
  /* Footer */
  .footer__feedback {
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
  }

  .footer__copyright {
    display: inherit;
    justify-content: center;
  }
  .footer__copyright-text,
  .footer__copyright-logo {
    float: none;
  }
}
