/*Header*/
.header-content__title {
  margin: 0 auto;
  padding: 80px 0 100px 0;
  width: 36%;
}
/*Main-content*/
.main-content__title {
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  margin: 100px auto;
  width: 50%;
}
/*Comment styles*/
.comment-author,
.comment-time,
.comment-text,
.like-photo {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
}
.comment-author {
  display: flex;
  align-items: center;
  font-weight: bold;
  margin-bottom: 0;
}
.comment-time {
  font-weight: 400;
  text-transform: uppercase;

  color: #a1a7ad;
  margin-left: 5px;
}
.comment-text {
  margin-bottom: 0;
  padding: 10px 0;
  text-align: left;
}
.like-photo {
  color: #d22856;
  text-transform: uppercase;
  margin-bottom: 0;
}
/*Panorama*/
.main-content__panorama {
  background: url("images/panorama-photo.jpg") center no-repeat;
  background-size: cover;
  height: 500px;
}
.main-content-panorama__day {
  position: absolute;
  right: 0;
  background-color: #d22856;
  color: #fff;

  font-size: 14px;

  height: 40px;
  text-transform: uppercase;
  padding: 10px 15px;

  margin-top: 55px;
  z-index: 1;
}
.main-content-panorama__comment-likes {
  align-items: center;
}
.main-content-panorama__comment-likes img {
  margin-left: 10px;
}
.main-content-panorama__comment {
  background-color: #f2f2f2;
  padding: 30px;
}
.main-content-panorama__comment-text p {
  text-align: left;
  margin-bottom: 0;
}
/*Gallery*/
.main-content__gallery {
  margin-top: 50px;
}
.main-content__gallery-item {
  margin-bottom: 60px;
}
.gallery-img {
  width: 100%;
}
.main-content-gallery-item__author {
  display: inline-flex;
}
.main-content-gallery-item__author-time {
  margin-left: 5px;
}
.main-content-gallery-item__comment-text {
  text-align: left;
  height: 100px;
}
.main-content-gallery-item__comment-likes {
  display: flex;
  justify-content: space-between;
}
.main-content__gallery-description {
  display: block;
  background-color: #f2f2f2;

  padding: 30px 25px;
}
/*Filter*/
.filter {
  background-color: #f2f2f2;
}
.filter__wrapper {
  max-width: 880px;
  margin: 0 auto;
}
.filter__photo,
.filter__toggles {
  margin: 60px 0;
}
.filter-toggles__crop,
.filter-toggles__color,
.filter-toggles__contrast {
  display: flex;
  padding: 10px 0;
  margin-bottom: 20px;
  align-items: center;
  border-bottom: 2px solid #e5e5e5;
}
.filter-toggles__img {
  width: 10%;
  height: 44px;
  text-align: left;
}
.filter__input,
.filter__input {
  margin-left: 40px;
  width: calc(100% - 40px);
}
/*custom radio-slider*/
.filter__input {
  -webkit-appearance: none;
  width: 100%;
  height: 2px;
  background: #000;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.filter__input:hover {
  opacity: 1;
}

.filter__input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  background: #f2f2f2;
  border: 2px solid #d22856;
  border-radius: 100px;
  cursor: pointer;
}

.filter__input::-moz-range-thumb {
  width: 15px;
  height: 15px;
  background: #f2f2f2;
  border: 2px solid #d22856;
  border-radius: 100px;
  cursor: pointer;
}
/*Buttons filter*/
.filter__buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 25%;
}
.filter__button-post,
.filter__button-cancel {
  height: 55px;
  width: 180px;
  border-radius: 100px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
}
.filter__button-post {
  border: 3px solid #d22856;
  color: #d22856;
}
.filter__button-cancel {
  border: 3px solid #dddfe0;
  color: #dddfe0;
}
@media screen and (max-width: 768px) {
  /*Header*/
  .header-content__title {
    width: 78%;
  }
  /*Main-content*/
  .main-content__title {
    width: 70%;
  }
  /*Panorama*/
  .main-content-panorama__comment {
    padding: 20px 30px;
  }
  /*Gallery*/
  .main-content__gallery-item {
    margin-bottom: 20px;
  }
  .main-content__title {
    margin: 70px auto;
  }
  /*Filters*/
  .filter-toggles__crop,
  .filter-toggles__color,
  .filter-toggles__contrast {
    margin-bottom: 0;
  }
  .filter__buttons {
    flex-direction: column;
    align-items: center;
    margin-top: 0;
  }
  .filter__button-post,
  .filter__button-cancel {
    width: 90%;
  }
  .filter__button-post {
    margin: 60px auto 30px auto;
  }
}
