/*Header*/
.header-content__title {
  margin: 0 auto;
  padding: 80px 0 100px 0;
  width: 36%;
}
/*Main-content*/
.main-content__title {
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  margin: 100px auto;
  width: 50%;
}
/*Comment styles*/
.comment-author,
.comment-time,
.comment-text,
.like-photo {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
}
.comment-author {
  display: flex;
  align-items: center;
  font-weight: bold;
  margin-bottom: 0;
}
.comment-time {
  font-weight: 400;
  text-transform: uppercase;

  color: #a1a7ad;
  margin-left: 5px;
}
.comment-text {
  margin-bottom: 0;
  padding: 10px 0;
  text-align: left;
}
.like-photo {
  color: #d22856;
  text-transform: uppercase;
  margin-bottom: 0;
}
/*Panorama*/
.main-content__panorama {
  background: url("images/panorama-photo.jpg") no-repeat;
  background-size: cover;
  height: 500px;
}
.main-content-panorama__day {
  position: absolute;
  right: 0;
  background-color: #d22856;
  color: #fff;

  font-size: 14px;

  height: 40px;
  text-transform: uppercase;
  padding: 10px 15px;

  margin-top: 55px;
  z-index: 1;
}
.main-content-panorama__comment-likes img {
  margin-left: 10px;
}
.main-content-panorama__comment {
  background-color: #f2f2f2;
  padding: 30px;
}
.main-content-panorama__comment-text p {
  text-align: left;
  margin-bottom: 0;
}
/*Gallery*/
.main-content__gallery {
  margin-top: 50px;
}
.main-content__gallery-item {
  margin-bottom: 60px;
}
.gallery-img {
  width: 100%;
}
.main-content-gallery-item__author {
  display: inline-flex;
}
.main-content-gallery-item__author-time {
  margin-left: 5px;
}
.main-content-gallery-item__comment-text {
  text-align: left;
  height: 100px;
}
.main-content-gallery-item__comment-likes {
  display: flex;
  justify-content: space-between;
}
.main-content__gallery-description {
  display: block;
  background-color: #f2f2f2;

  padding: 30px 25px;
}
