/*Header*/
.header-content__title {
  margin: 0 auto;
  padding: 80px 0 100px 0;
  width: 30%;
}
/*Main-content*/
.main-content__title {
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  margin: 100px auto;
  width: 50%;
}
.main-content__panorama {
  position: relative;
  background: url("images/panorama-photo.jpg") no-repeat;
  background-size: cover;
  height: 500px;
}
.main-content-panorama__day {
  display: inline-block;
  float: right;
  background-color: #d22856;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  font-size: 14px;
  max-width: 140px;
  height: 40px;
  text-transform: uppercase;
  padding: 10px 15px;
  margin-right: 10px;
  margin-top: 55px;
  z-index: 1;
}
