.header {
  background-image: url("images/header_background.jpg");
}

.navbar {
  padding: 0;
  padding-top: 20px;
  padding-bottom: 35px;
  background: rgba(0, 0, 0, 0.3);
}
.navbar-nav {
  width: 100%;
  justify-content: flex-end;
}
.navbar-nav .menu__item:not(:first-child) {
  margin-left: 10%;
}

.navbar-nav.menu .menu__item a {
  color: #fff;
  white-space: nowrap;
}

.header-content .header-content__title {
  color: #fff;
  font-size: 50px;
  font-weight: lighter;
  width: 78%;
  margin: 0 auto;
  margin-top: 120px;
  text-align: center;
}

.header-content .header-content__btn {
  width: 100%;

  margin: 65px 0;
  border-radius: 100px;
  border: 2px solid #fff;
  font-weight: 500;
  font-size: 20px;
  padding-bottom: 6px;
}

.header-content .header-content__description {
  color: #dbd6d6;
  font-weight: lighter;
  font-size: 18px;
  line-height: 1.33;
}
