html,
body {
  height: 100%;
}

/* Header */
.header {
  background-image: url("images/header_background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar {
  padding: 0;
  padding-top: 20px;
  padding-bottom: 35px;
  background: rgba(0, 0, 0, 0.3);
}
.navbar-brand {
  background-image: url("images/logo.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 160px;
  height: 80px;
}
.navbar-nav {
  width: 100%;
  justify-content: flex-end;
}
.navbar-nav .menu__item:not(:first-child) {
  margin-left: 10%;
}

.navbar-nav.menu .menu__item a {
  color: #fff;
  white-space: nowrap;
}

.header-content .header-content__title {
  color: #fff;
  /* font-size: calc(24px + 36 * ((100vw - 320px) / (1280 - 320))); */
  font-size: 50px;
  font-weight: lighter;
  width: 78%;
  margin: 0 auto;
  margin-top: 120px;
  text-align: center;
}

.header-content .header-content__btn {
  width: 100%;

  margin: 65px 0;
  border-radius: 100px;
  border: 2px solid #fff;
  font-weight: 500;
  font-size: 20px;
  padding-bottom: 6px;
}

.header-content .header-content__description {
  color: #dbd6d6;
  font-weight: lighter;
  font-size: 18px;
  line-height: 1.33;
  margin-top: 65px;
  text-align: center;
}

.header {
  position: relative;
  height: 100vh;
}

.header-phone {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 87.5%;
}

/*Main-content*/

.main-content__title,
.footer__title {
  color: #707983;
  font-size: 50px;
  font-weight: lighter;
  line-height: 1.5;
  text-align: center;
  margin: 80px auto;
  width: 70%;
}

.wrapper {
  margin: 0 auto;
  width: 830px;
}
.row {
  display: flex;
  justify-content: space-between;
}
.main-content__advantages img {
  width: 100%;
}

.main-content__advantages-description {
  margin: 70px auto;
}

.main-content__title-advantages,
.main-content__footer-title {
  font-size: 30px;
  font-weight: bold;
  line-height: 1;
  color: #283645;
  margin-bottom: 35px;
}
.main-content__title-advantages {
  text-align: center;
  width: 70%;
  margin: 0 auto;
  margin-bottom: 30px;
}

.main-content__text,
.main-content__footer-text {
  font-size: 18px;
  font-weight: 400;
  color: #707983;
  line-height: 1.5;
  margin-bottom: 20px;
}

.main-content__text {
  text-align: center;
  margin: 0 auto;
  width: 70%;
}

.main-content__footer {
  margin: 70px 0;
}

.main-content__timer-text {
  width: 55%;
  margin: auto 0;
}

.main-content__link {
  text-decoration: underline;
  color: #db5e80;
  font-size: 18px;
  font-weight: 400;
}
/*main-content background */
.main-content,
.reviews {
  position: relative;
  overflow: hidden;
  z-index: 1;
  background-color: #f2f2f2;
}

.main-content:before {
  content: "";
  position: absolute;
  width: 200%;
  height: 76%;
  top: -50%;
  left: -50%;

  z-index: -1;
  background-color: #fff;

  transform: rotate(-5deg);
}

/* reviews*/
.reviews::before {
  content: "";
  position: absolute;
  width: 200%;
  height: 76%;
  top: -25%;
  left: -50%;

  z-index: -1;
  background-color: #fff;

  transform: rotate(-5deg);
}
.reviews__quotes {
  display: flex;
  align-items: center;
}
.reviews__quotes img {
  margin: 40px auto;
}

/* Slider */
.swiper-button-prev,
.swiper-button-next {
  color: #f2f2f2;
}
.swiper-pagination-bullet-active {
  background-color: #fff;
  border: 2px solid #000;
}
.swiper-pagination-bullets {
  text-align: center;
}
.slider__comment {
  color: #000;
  text-align: center;
  white-space: pre-wrap;
}

.slider__author {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  margin: 0;
}
.slider__author-description {
  text-align: center;
  margin: 0;
}

/* Table */
.table {
  margin-top: 200px;
  margin-bottom: 100px;
}

.table .table__th {
  vertical-align: middle;
  text-align: center;
  font-size: 18px;
  font-weight: lighter;
  text-transform: uppercase;
}
.table .table__custom-th {
  position: relative;
  overflow: hidden;
}
.table .table__custom-th::before {
  display: block;
  content: "ХИТ";
  background-color: #d22856;
  font-size: 12px;
  font-weight: 500;
  position: absolute;
  height: 20px;
  width: 35%;
  top: 10px;
  left: -30px;
  transform: rotate(-45deg);
}

.table__custom-vector {
  position: relative;
  font-size: 2em;
}

.table__custom-vector::before {
  content: "";
  position: absolute;
  top: 10%;
  left: 50%;
  width: 15px;
  height: 25px;
  border-right: 3px solid #3dc644;
  border-bottom: 3px solid #3dc644;
  transform: rotate(45deg);
}

.table__cross-off {
  position: relative;
  font-size: 2em;
}
.table__cross-off::before {
  content: "";
  position: absolute;
  top: 40%;
  left: 45%;
  width: 30px;

  border-bottom: 3px solid #f25b26;
  transform: rotate(45deg);
}
.table__cross-off::after {
  content: "";
  position: absolute;
  top: 40%;
  left: 45%;
  width: 30px;

  border-bottom: 3px solid #f25b26;
  transform: rotate(-45deg);
}

.table .table__th span {
  font-weight: 500;
}
.table .table__th:last-child {
  text-align: center;
}
.table .table__th:first-child {
  border-bottom: 0;
}

.table__hidden-border {
  position: relative;
}
.table__hidden-border::before {
  display: block;
  position: absolute;
  content: "";
  height: 2px;
  width: 100%;
  background: #dee2e6;
  left: 0;
  bottom: 100%;
}

/* Footer */
.footer__title {
  width: 50%;
}

.footer__contacts {
  display: flex;
  justify-content: space-between;
}
.footer__contact-title,
.footer__footer-phone {
  text-align: center;
  font-size: 15px;
  font-weight: bold;
}

.footer__phone {
  color: #e77694;
  font-size: 20px;
}
.footer__map {
  clip-path: polygon(50% 40%, 100% 0, 100% 100%, 0 100%, 0 0);
  padding-left: 0;
  padding-right: 0;
}

.footer__feedback {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 200px;
}

.footer__copyright-text {
  float: left;
  margin: auto 15px auto 0;
}
.footer__copyright-logo {
  float: right;
}
@media screen and (max-width: 991px) {
  .header-phone {
    width: 100%;
  }
  .navbar {
    background-color: #283645;
    text-align: center;
  }
  .navbar-nav .menu__item:not(:first-child) {
    margin-left: 0;
  }
  .menu__item {
    border-top: 1px solid #000000;
  }
  .menu__item:last-child {
    border-bottom: 1px solid #000000;
  }
  .header__navbar {
    padding: 0;
  }
  .navbar-brand {
    background-image: url("images/logotype-tablet.svg");
  }
  .navbar-collapse {
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    background-color: #283645;
    z-index: 2;
  }
  .header-content__title {
    font-size: 40px;
  }
  .header-content .header-content__btn {
    margin: 40px 0;
    font-size: 18px;
  }
  .header-content {
    z-index: 1;
  }

  .main-content:before {
    top: -25%;
  }
  .main-content__title-advantages,
  .main-content__text {
    font-size: 15px;
    text-align: left;
    margin-bottom: 15px;
  }
  .main-content__text:not(:last-child) {
    margin-bottom: 20px;
  }
  .main-content__text:last-child {
    margin: 0 auto;
  }
  .main-content__footer-title {
    width: 50%;
    line-height: 1.3;
  }
  .slider {
    height: 230px;
  }
  .slider__control_prev,
  .slider__control_next {
    display: none;
  }
  .slider__author,
  .slider__author-description {
    justify-content: space-around;
  }
  .slider__indicators {
    bottom: 0;
  }
  .slider__indicators li {
    border-radius: 50%;
    background-color: #c1c5ca;
    width: 10px;
    height: 10px;
  }
  .slider__indicators li.active {
    background-color: #283645;
  }
}

@media screen and (max-width: 768px) {
  .main-content:before {
    top: -50%;
  }

  .main-content__title {
    font-size: 24px;
    justify-content: space-around;
    line-height: 1.2;
  }
  .main-content__tablet-description {
    margin-top: 50px;
  }
  .main-content__title-advantages,
  .main-content__text {
    font-size: 20px;
    width: 100%;
    text-align: center;
  }
  .main-content__text:not(:last-child) {
    margin-bottom: 45px;
  }
  .main-content__tablet img {
    display: block;

    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
  }
  .main-content__footer {
    display: none;
  }
  .reviews::before {
    top: -40%;
  }
  .slider {
    margin-top: 50px;
  }
  .slider__comment {
    white-space: initial;
    margin-top: 35px;
  }
  .slider__indicators {
    bottom: -10px;
  }
  .slider__indicators li {
    border-radius: 50%;
    background-color: #f2f2f2;

    width: 10px;
    height: 10px;
  }
  .slider__indicators li.active {
    background-color: #283645;
  }
  .table .table__custom-th::before {
    width: 55%;
  }
}
@media screen and (max-width: 576px) {
  .header {
    display: flex;
    flex-direction: column;
  }
  .header-content {
    background-color: #1d2631;
  }
  .header-content__btn {
    border: 3px solid #ffffff;
  }
  .header-content .header-content__description {
    margin-top: 30px;
  }
  .header-phone {
    position: static;
    margin-top: auto;
  }
  .main-content__tablet img {
    height: 280px;
    width: 160px;
  }
  .reviews::before {
    top: -5%;
  }
  .slider__wrapper {
    transform: none;
  }
  .slider__author {
    margin-top: 50px;
  }
  .slider__comment {
    margin: 30px auto;
    line-height: 2;
  }
}
